# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
/frontend/build/

# Uploads
uploads/
backend/uploads/